# --- Server Configuration ---

# Default: 3000
PORT=

# MongoDB Connection String (Required)
# How to find your connection string: https://www.mongodb.com/docs/manual/reference/connection-string/
MONGO_URI=

# Secret key for JWT authentication (Required)
# NOTE: This must NEVER be a simple string. It must be a secure, long random hexadecimal or base64 string.
JWT_SECRET=

# --- URLs & CORS ---

# The URL where your frontend is running (e.g., http://localhost:5173)
CLIENT_URL=

# The URL where your backend API is running (e.g., http://localhost:3000)
BASE_API_URL=

# Required by Vite (Frontend). Set this to the same value as BASE_API_URL.
VITE_BASE_API_URL=

# --- External APIs ---

# DeepL API Key for translations (Required)
DEEPL_API_KEY=

# Google Gemini API Key (Required)
# How to generate and use your Google Gemini API key from Google AI Studio: https://ai.google.dev/gemini-api/docs/api-key
GEMINI_API_KEY=

# Default Gemini Model. 
# All Google Gemini AI models: https://ai.google.dev/gemini-api/docs/models
# Default: gemini-2.5-flash-lite
GEMINI_MODEL_DEFAULT=

# --- Email Service (Resend) ---

# How to generate Resend API key: https://resend.com/docs/api-reference/api-keys/create-api-key
# Optional: If missing, email functionality will be disabled.
RESEND_API_KEY=

# The email address to send from. 
# Default: support@mangotreeofficial.com
# NOTE: If using your own Resend key, this must be a verified sender/domain.
# NOTE: If you are not using a domain, this must be the email address you created the account with, however this means you will receive emails ONLY from the email address you use.
RESEND_FROM_EMAIL=