:root {
  --theme-bg: #f1f0cc;
  --theme-accent: #fcfbe4;
  --theme-text: #250b24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--theme-bg);
  color: var(--theme-text);
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-bg);
  color: var(--theme-text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: var(--theme-bg);
  color: var(--theme-text);
}
